
<div class="navigation">
    <header class="logo">
        <h2 class="logo__title">yoke</h2>
    </header>
    <ul class="list-modules">
        <li class="module module--main">
            <i class="module__icons module__icons--main fa fa-home"></i>
            <span class="module__name module__name--main">Panel Głowny</span>
        </li>
        <li class="module module--users">
            <i class="module__icons module__icons--users fa fa-users"></i>
            <span class="module__name module__name--user">Użytkownicy</span>
        </li>
    </ul>
    <div clas="social-block">
        <div class="social-block__facebook">
            <i class="social-block__icon social-block__icon--facebook"></i>
            <span class="social-block__count-likes">{{social.likes}}</span>
        </div>
        <div class="social-block__instagram">
            <i class="social-block__icon social-block__icon--instagram"></i>
            <span class="social-block__count-followers">{{social.followers}}</span>
        </div>
    </div>
</div>
